@import '../../../../assets/colors.scss';

.mail-container {
    position:relative;
    height: 100%;

    .title {
        text-align: left;
        border-bottom: solid 1px black
    }

    .message {
        text-align: left;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .buttons-container {
        position:absolute;
        bottom: 10px;
        right: 0px;

        .close-button {
            background: $warn;
            margin-left: 10px;
        }
    
        .response-button {
            background: $success;
        }
    }


}