@import '../../../assets/colors.scss';

mat-sidenav-container {
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 102 !important;

    mat-sidenav {
        width: 200px;
        box-shadow: 2px 0px 13px -1px #000000bf;

        .sidemenu--title {
            text-align: center;
            margin-top:-8px;
            height: 60px;
            width: 200px;
            max-width: 100%;
            font-weight: 600;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index:1001 !important;

            .logo {
                width: 100px;
                
            }
        }

        mat-nav-list {
            .list-item {

                mat-icon {
                    color:$font-gray;
                }
                
                .list-item--text {
                    margin:0;
                    padding-left: 10px;
                    font-size: 14px;
                }
            }
        }
        
    }

    mat-sidenav-content {
        
        mat-toolbar {
            position:fixed;
            width: 0;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: transparent;

            button {
                background:$primary;
                min-width: 10px;
                height: 50px;
                border-radius: 0;
                display: flex;
                justify-content: center;

            }
        }
    }
}

.menu-button {
    position: relative;

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

