<app-header pageName="Przelew"></app-header>
<app-sidenav></app-sidenav>

    <mat-tab-group mat-align-tabs="center" class="money-transfer-container">
        <mat-tab label="Przelew do użytkownika">
            <div class="transfer-user-container">
                <mat-form-field>
                    <mat-label>Wyszukaj użytkownika</mat-label>
                    <input matInput type="text" [(ngModel)]="searchedUser" autocomplete="off">
                </mat-form-field>
    
                <mat-list role="list" class="list" *ngFor="let user of users | moneyTransferPipe:searchedUser:'users'">
                    <mat-list-item role="listitem" class="list-item">
                        <p (click)="goToProfile(user._id)">{{user.name}} {{user.surname}}</p>
                        <button mat-button class="send-button" (click)="sendMoney(user, 'user')"><mat-icon>payment</mat-icon></button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab *ngIf="user?.firmId && user?.firmId!=''" label="Przelew do firmy">
            <form class="send-money-form" #SendMoneyForm="ngForm">
                <mat-form-field class="form-group">
                    <mat-label>Tytuł</mat-label>
                    <input matInput class="form-control" type="text" name="name" [(ngModel)]="paymentModel.name" #name="ngModel" required>
                </mat-form-field>
            
                <mat-form-field class="form-group">
                    <mat-label>Ilość pieniędzy</mat-label>
                    <input matInput class="form-control" type="number" min="0" name="money" [(ngModel)]="paymentModel.money" #money="ngModel" required>
                </mat-form-field>
            
                <button mat-button class="btn-success" type="button" [disabled]="SendMoneyForm.form.invalid" (click)="sendMoneyToFirmAccount()">Wykonaj</button>
            </form>
        </mat-tab>
        <mat-tab label="Oczekujące przelewy">
            <mat-card *ngFor="let payment of awaitingPayments" class="awaiting-payments-container">
                <mat-card-header>
                    <img mat-card-avatar class="header-image" [src]="payment.senderImage ? payment.senderImage : '../../../assets/images/profile-default.png'" alt="profile-picture">
                    <mat-card-title> {{payment?.sender}} - {{payment?.name}} </mat-card-title>
                    <mat-card-subtitle> {{payment?.date | date:'dd.MM.yyyy'}} - {{payment?.money | currency:' '}}zł </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p> {{payment?.message || 'Brak wiadomości'}} </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button type="button" class="button-accept" (click)="acceptMoney(payment)"><mat-icon>done</mat-icon></button>
                    <button mat-button type="button" class="button-discard" (click)="discardMoney(payment)"><mat-icon>clear</mat-icon></button>
                    <button mat-button type="button" matTooltip="Zablokuj użytkownika" matTooltipPosition="below" class="button-disable-user" (click)="disableUser(payment)"><mat-icon>block</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
    </mat-tab-group>

<app-footer></app-footer>