<div class="send-mail-container">
    <form class="helpdesk-form" #HelpdeskForm="ngForm">
        <mat-form-field class="form-group">
            <input matInput class="form-control topic" type="text" name="topic" [(ngModel)]="mailModel.topic" #name="ngModel" required disabled>
            <!-- <div *ngIf="name.errors && name.touched">
                <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
                <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
            </div> -->
        </mat-form-field>
    
        <mat-form-field class="form-group">
            <mat-label>Odpowiedz...</mat-label>
            <textarea matInput class="form-control textarea" name="message" [(ngModel)]="mailModel.message" #name="ngModel" required maxlength="100"></textarea>
            <!-- <div *ngIf="name.errors && name.touched">
                <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
                <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
            </div> -->
        </mat-form-field>
    
        <div class="buttons-container">
            <button mat-raised-button class="btn-success" type="button" [mat-dialog-close]="true" [disabled]="HelpdeskForm.form.invalid" (click)="sendMessage()">Wyślij</button>
            <button mat-raised-button class="btn-warn" type="button" [mat-dialog-close]="false">Cofnij</button>
        </div>
    </form>
</div>

