@import '../../../../assets/colors.scss';

.change-permissions-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
        text-align: center;
    }

    .form-group {
        margin: 20px auto 0 auto;
    }

    .change-button {
        position: absolute;
        bottom: -55px;
        right: 5px;
        background: $success
    }   
}