<div class="change-permissions-container">
    <form id="ChangePasswordForm" class="change-password-form" #ChangePasswordForm="ngForm">

        <h2 class="title">Zmień hasło</h2>

        <mat-form-field class="form-group">
            <mat-label>Stare hasło</mat-label>
            <input matInput class="form-control" type="password" name="password" [(ngModel)]="changePasswordModel.password" #password="ngModel" required>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Nowe hasło</mat-label>
            <input matInput class="form-control" type="password" name="newPassword" [(ngModel)]="changePasswordModel.newPassword" #newPassword="ngModel" pattern=".{8,}" required>
        </mat-form-field>

        <button class="change-button" type="button" [disabled]="ChangePasswordForm.form.invalid" mat-raised-button mat-dialog-close (click)="changePassword()">Zmień</button>
    
    </form>
</div>