@import '../../../assets/colors.scss';

.account-container {
    width: calc(100%-200px);
    margin-left:200px;
    background: $background;
    min-height: 100vh;
    padding-top:80px;
    padding-bottom: 100px;

    @media (max-width: 600px) {
        margin-left: 0;
        width: 100vw;
    }

    .filters-container {
        width: 80%;
        margin: 20px auto 0 auto;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        padding: 10px;

        mat-list {
            overflow: hidden;
        }

        .selection-container {
            width: 90%;
            display: flex;
            justify-content: space-between;
        }

        .flex-container {
            display: flex;

            @media (max-width: 1000px) {
                flex-direction: column;
            }

            mat-form-field {
                margin-left: 100px;
            }
        }

        .checkboxes {
            margin-left: 100px;

            mat-checkbox {
                margin-left: 20px;
            }
        }
    }

    .month-container {
        background-color: white;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin: 40px auto;
        box-shadow: 0px 0px 4px 0px #000000bf;

        .month-name {
            font-size: 20px;
        }

        .arrow-left, .arrow-right {
            position:relative;
            width: 20px;
            height: 40px;
            cursor: pointer;

            &::before, &::after {
                content: '';
                top:50%;
                position: absolute;
                width: 80%;
                height: 3px;
                border-radius: 30%;
                background-color: black;
                transform: rotate(45deg);
                transform-origin: left;
                cursor: pointer;
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .arrow-right {

            &::before, &::after {
                transform-origin: right;
            }
        }
    }

    .budget-list-container {
        background-color: white;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        width: 80%;
        margin: 0 auto;
        padding: 5px;

        .budget-balance {
            min-height: 20px;

            p {
                margin: 0;
                padding: 5px;
                text-align: right;
                font-size: 16px;
            }

            .font-color-green {
                color: $success;
            }   

            .font-color-red {
                color: $warn;
            }
        }  

        .no-account-changes {
            text-align: center;

            p {
                margin-top: 10px;
            }
        }

        mat-list-item {
            cursor: pointer;
            padding: 10px;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .more-icon {
            padding: 0 5px;
            cursor: pointer;
        }

        .green-line, .red-line {
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
            width: 4px;
            height: 70%;
            border-radius: 5px;
            background: $success;
        }

        .red-line {
            background-color: $warn;
        }
    }

    .button-create {
        background: $success;
        color: black;
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    .grid-container {
        display: grid;
        width: 100%;
        margin: 30px auto 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        justify-items: center;
        align-items: start;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }

        .goals-ongoing-container,
        .goals-completed-container {
            background: white;
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            width: 90%;
            margin: 0 auto;

            mat-list {
                overflow-y: hidden;
            }

            .title {
                text-align: center;
                padding: 10px;
                font-size: 20px;
            }

            .list-item {
                width: 95%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .add-money-button {
                    background-color: $success;
                    margin-left: 10px;
                    font-size: 20px;
                }

                .header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .header-small {
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 5px;
                    }
                }

                .progress-bar {
                    width: 100%;
                    height: 10px;
                    border-radius: 6px;
                }
            }
        }

        .goals-completed-container {
            
            .list {
                margin-top: 8px;
            }

            .header {
                * {
                    flex-basis: 33%;
                    text-align: center;
                }
            }

            .complete-icon {
                text-align: right !important;
            }
        }
    }
}