<form class="expense-form" #ExpenseForm="ngForm">
    <h2 class="title">Wydatek</h2>

    <mat-form-field class="form-group">
        <mat-label>Nazwa</mat-label>
        <input matInput class="form-control" type="text" name="name" [(ngModel)]="expenseModel.name" #name="ngModel" required>
        <!-- <div *ngIf="name.errors && name.touched">
            <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
            <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
        </div> -->
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Ilość pieniędzy</mat-label>
        <input matInput class="form-control" type="number" min="0" name="money" [(ngModel)]="expenseModel.money" #money="ngModel" required>
        <!-- <div *ngIf="name.errors && name.touched">
            <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
            <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
        </div> -->
    </mat-form-field>

    <div class="form-group">
        <input class="form-control" type="date" name="dateOfBirth" value="2020-06-11" [(ngModel)]="expenseModel.date" #dateOfBirth="ngModel" required>
        <!-- <div *ngIf="name.errors && name.touched">
            <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
            <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
        </div> -->
    </div>

    <mat-form-field class="form-group">
        <mat-label>Rodzaj</mat-label>
        <input matInput class="form-control" type="text" name="type" [(ngModel)]="expenseModel.typeName" #type="ngModel" required>
        <!-- <div *ngIf="name.errors && name.touched">
            <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
            <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
        </div> -->
    </mat-form-field>

    <button mat-button class="btn-success" type="button" mat-dialog-close [disabled]="ExpenseForm.form.invalid" (click)="addExpense()">Dodaj wydatek</button>
</form>
