<div class="register-container">
    <form id="RegisterForm" class="register-form" #RegisterForm="ngForm">

        <h2 class="title">Zarejestruj się</h2>
    
        <mat-form-field class="form-group">
            <mat-label>Imie</mat-label>
            <input matInput class="form-control" type="text" name="name" [(ngModel)]="registerModel.name" #name="ngModel" pattern=".{1,20}" placeholder="Podaj swoję imie..." required>
            <!-- <div *ngIf="name.errors && name.touched">
                <p class="text--warn" *ngIf="name.errors.required">Imie jest wymagane</p>
                <p class="text--warn" *ngIf="name.errors.pattern">Imie nie może mieć więcej niż 20 znaków</p>
            </div> -->
        </mat-form-field>
    
        <mat-form-field class="form-group">
            <mat-label>Nazwisko</mat-label>
            <input matInput class="form-control" type="text" [class.input--warn]="surname.invalid && surname.touched" placeholder="nazwisko" name="surname" 
            [(ngModel)]="registerModel.surname" #surname="ngModel" pattern=".{1,20}" required>
            <!-- <div *ngIf="surname.errors && surname.touched">
                <p class="text--warn" *ngIf="surname.errors.required">Nazwisko jest wymagane</p>
                <p class="text--warn" *ngIf="surname.errors.pattern">Nazwisko nie może mieć więcej niż 20 znaków</p>
            </div> -->
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Hasło</mat-label>
            <input matInput class="form-control" type="password" [class.input--warn]="password.invalid && password.touched" placeholder="hasło" name="password" 
            [(ngModel)]="registerModel.password" #password="ngModel" pattern=".{8,}" required>
            <!-- <div *ngIf="password.errors && password.touched">
                <p class="text--warn" *ngIf="password.errors.required">Hasło jest wymagane</p>
                <p class="text--warn" *ngIf="password.errors.pattern">Hasło musi mieć co najmniej 8 znaków</p>
            </div> -->
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Email</mat-label>
            <input matInput class="form-control" type="email" [class.input--warn]="email.invalid && email.touched" placeholder="email" name="email" 
            [(ngModel)]="registerModel.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <!-- <div *ngIf="email.errors && email.touched">
                <p class="text--warn" *ngIf="email.errors.required">Email jest wymagany</p>
                <p class="text--warn" *ngIf="email.errors.pattern">Nieprawidłowy adres email</p>
            </div> -->
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Numer telefonu</mat-label>
            <input matInput class="form-control" type="text" [class.input--warn]="phone.invalid && phone.touched" placeholder="numer telefonu" name="phone" 
            [(ngModel)]="registerModel.phone" #phone="ngModel" pattern="\d{9}">
            <!-- <div *ngIf="phone.errors && phone.touched">
                <p class="text--warn" *ngIf="phone.errors.pattern">Numer telefonu musi składać się z 9 cyfr</p>
            </div> -->
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Data urodzenia</mat-label>
            <input matInput type="date" class="form-control" name="dateOfBirth" [(ngModel)]="registerModel.dateOfBirth" #dateOfBirth="ngModel" value="01.01.2000">
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Płeć</mat-label>
            <mat-select class="select" name="sex" [(ngModel)]="registerModel.sex" required>
                <mat-option value="man"> Mężczyzna </mat-option>
                <mat-option value="woman"> Kobieta </mat-option>
            </mat-select>
        </mat-form-field>

    
        <button mat-raised-button type="button" [disabled]="RegisterForm.form.invalid" (click)="addUser()">Zarejestruj się</button>
    
    </form>
    <a routerLink="/logowanie"><p>Masz już konto ? Zaloguj się</p></a>
</div>