<div class="firm-budget-container">
    <div class="firm-budget-balance">
        <p>Stan konta: {{(firm?.firmBudget?.money || 0) | currency:' '}}zł </p>
        <mat-divider></mat-divider>
    </div>

    <div class="no-account-changes" *ngIf="acceptedBudgetChanges == 0">
        <p>Brak danych</p>
    </div>
    <mat-list (click)="showDetails(accountChange)" *ngFor="let accountChange of accountChangesContainer" class="budget-changes-list">
        <mat-list-item *ngIf="accountChange.status == 'Accepted'">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <div mat-line> 
                <span> {{accountChange.name}}</span> 
                <span class="align-right" [class]="accountChange.type=='income' ? 'income': 'expense'">{{accountChange.money | currency: ' '}}zł</span>  </div>
            <div mat-line> {{accountChange.category.name}} <span class="align-right">{{accountChange.date | date:'dd.MM.yyyy'}}</span> </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="button-container">
        <button mat-fab type="button" class="button-income" (click)="addIncome()"><mat-icon>add</mat-icon></button>
        <button mat-fab type="button" class="button-expense" (click)="addExpense()"><mat-icon>remove</mat-icon></button>
    </div>
    
</div>