@import '../../../../assets/colors.scss';

.firm-search-container {
    width: 40vw;

    mat-spinner {
        margin: 0 auto;
        padding: 5px;
    }

    .title {
        text-align: center;
    }

    .no-firms {
        text-align: center;
    }

    .firm-search {
        mat-list-item {
            p {
                margin: 4px 0 0 5px;
            }
        }

        .join-firm-button {
            margin-left: auto;
            background-color: $success;
        }
    }
}